@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#FFEFD5, #FFDAB9);
	background-attachment:fixed;
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDAB9;
    padding: 1rem;
}

.form-image img{
    width: 31rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #FFDAB9;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #b6dbf1;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #BC8F8F;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #FFDAB9;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #FFDAB9;
}

.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #FFDAB9;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: #b6dbf1;    
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #BC8F8F;
}

@media screen and (max-width: 1330px) {
    .form-image{
        display: none;
    }

    .container{
        width: 50%;
    }
    .form{
        width: 50%;
    }
}

@media  screen and (max-width 1064px) {
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-input{
        margin-top: 2rem;
    }
    .gender-group{
        flex-direction: column;
    }
    .gender-input{
        margin-top: 0.5rem;
    }

}
/**  Estilo para o formulario login **/

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#FFEFD5, #FFDAB9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color: #BC8F8F;
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FFDAB9;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #9c949456;
}

.card-login > h1{
    color: #BC8F8F;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #FFEFD5;
    color: #BC8F8F;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #807a7a56;
    box-sizing: border-box;
}

.textfield > label{
    color: #BC8F8F;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #BC8F8F;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #BC8F8F;
    background: #FFEFD5;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #807a7a56;
}


/**  Estilo para o formulario fale conosco **/


section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #FFDAB9;
    width: 500px;
    box-shadow: 0px 10px 40px #807a7a56;
}

section h2{
    color: #BC8F8F;
    font-size: 2.5rem;
    margin: 2rem;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #BC8F8F;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 10px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid  #FFEFD5;
    color: #BC8F8F;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #FFEFD5;
    color: #101026; 
    border-radius: 16px;   
}

/** css da pagina obrigado **/


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#FFEFD5, #FFDAB9);
    flex-direction: column;
}

.text{
    font-size: 45px;
    color: #BC8F8F;
    margin-bottom: 30px;
}

.paragrafo{
    color: #BC8F8F;
    margin-bottom: 50px;
}

.btg{
    padding: 15px 55px;
    background: #FFDAB9;
    text-decoration: none;
    color: #BC8F8F;
    font-size: 10px;
    transition: all 0.5s;
}

.btg:hover{
    border-radius: 16px;
}
